:root {
    --fuenteHeading: 'Playfair Display', serif;
    --fuenteTextos: 'Raleway', sans-serif;

    --colorPrincipal: #0373db;
    --colorSecundario: #03b803;
    --negro: #000000;
    --blanco: #FFFFFF;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteTextos);
    font-size: 1.6rem;
}
h1, h2, h3 {
    font-family: var(--fuenteHeading);
    text-align: center;
    margin: 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    margin: 0;
}
.contenedor {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}
.heading__titulo {
    padding: 5rem 0;
}
.heading__titulo span {
    color: var(--colorPrincipal);
}
.header {
    border-top: 1px solid #e1e1e1;
}
.navegacion {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.navegacion a {
    color: var(--negro);
    padding: 2rem 0;
}

/** main **/
.heading__main {
    margin-top: 5rem;
}
.parrafo__main {
    font-size: 2.4rem;
}